<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Explore the Rijksmuseum</title>
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap" rel="stylesheet">
    </head>
    
    <body>
      <div id="app">
      <h1>Explore the Rijksmuseum</h1>
      <form v-on:submit.prevent="search">
        <input v-model="searchInput" placeholder="Enter a key word to search"></input>
        
        <button type="submit">Search</button>
      </form>
      <p></p>
      <table id="my_table">
        <thead id="table_head">
            <tr>
                <th v-for="column in columns"> {{ column }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="row in rows">
                <td><a :href="row.title_link">{{ row.title }}</td>
                <td><a :href="row.work_link"><img :src="row.work" alt="No Image Available"></td>
                <td><a :href="row.artist_link">{{ row.artist }}</td>
            </tr>
        </tbody>
      </table>
    </div>
    
    <div id="searchResults"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script text="type/javascript" src="script.js"></script>
    </body>
    
    <footer>
      <p>
        <a href="https://github.com/tesshoughton/CP_Vue.git">GitHub Repository</a><br>
        Page owned and created by Chopelas, McBride, & Mika in 2019.<br>
        This page was developed using the Rijksmuseum API.
      </p>
    </footer>
</html>